@model SERPROCI.Models.TipoServicio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TipoServicio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empresa.EmpresaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa.EmpresaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoServicioName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoServicioName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTipoServicio }) |
    @Html.ActionLink("Back to List", "Index")
</p>
